* {
    box-sizing: border-box;
    /* margin: 10px; */
    outline: 1px solid red;
}


body {
    height: 100vh;
}

.box1 {
    border: 5px solid red;
    background-color: blue;
    color: white;
    padding: 10px;
}


.box2 {
    border: 5px solid red;
    background-color: blue;
    color: white;
    padding: 10px;
}

.box3 {
    border: 5px solid red;
    background-color: blue;
    color: white;
    padding: 10px;
}


.flex-container {
    height: 100%;
    margin: 0 auto;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.flex-container div {
    width: 250px;
    height: 200px;
    margin: 20px;
}

p {
    display: flex;
    margin: 10px auto;
    height: 90%;
    justify-content: center;
    align-items: center;

}





